language: cpp
compiler: gcc
sudo: require
dist: trusty

before_install:
    - sudo add-apt-repository ppa:beineri/opt-qt59-trusty -y
    - sudo apt-get update -qq
    
install: 
    - sudo apt-get -y install qt59base qt59declarative qt59quickcontrols qt59quickcontrols2 qt59graphicaleffects
    - source /opt/qt*/bin/qt*-env.sh

script:
  - sed -i -e 's|<file>qt/etc/qt.conf</file>||g' qml.qrc # according to README
  - qmake PREFIX=/usr
  - make -j$(nproc)
  - mkdir -p appdir/usr/bin
  - mkdir -p appdir/usr/share/applications
  - mkdir -p appdir/usr/share/icons/hicolor/256x256/apps
  - cp Cumulus appdir/usr/bin/
  - cp icons/* appdir/usr/share/icons/
  - cp icons/hicolor/256x256/* appdir/usr/share/icons/
  - cp icons/hicolor/256x256/cumulus.* appdir/
  - cp icons/hicolor/256x256/cumulus.* appdir/usr/share/icons/hicolor/256x256/apps/
  - echo "[Desktop Entry]" > appdir/cumulus.desktop
  - echo "Name=Cumulus" >> appdir/cumulus.desktop
  - echo "Icon=cumulus" >> appdir/cumulus.desktop
  - echo "Exec=Cumulus" >> appdir/cumulus.desktop
  - echo "Type=Application" >> appdir/cumulus.desktop
  - echo "Categories=Utility;" >> appdir/cumulus.desktop
  - cp appdir/cumulus.desktop appdir/usr/share/applications/

after_success:
  - wget -c "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage" 
  - chmod a+x linuxdeployqt*.AppImage
  - unset QTDIR; unset QT_PLUGIN_PATH ; unset LD_LIBRARY_PATH
  - ./linuxdeployqt*.AppImage ./appdir/usr/bin/* -bundle-non-qt-libs -qmldir=../
  - ./linuxdeployqt*.AppImage ./appdir/usr/bin/* -appimage -qmldir=../
  - find ./appdir -executable -type f -exec ldd {} \; | grep " => /usr" | cut -d " " -f 2-3 | sort | uniq
  - curl --upload-file ./Cumulus*.AppImage https://transfer.sh/Cumulus-git.$(git rev-parse --short HEAD)-x86_64.AppImage

