[project]
	description = Qt port for Cumulus
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Verban Adrian (vadrian89)
[access "refs/for/refs/*"]
	read = group user/Verban Adrian (vadrian89)
	push = group user/Verban Adrian (vadrian89)
	label-Code-Review = -2..+2 group user/Verban Adrian (vadrian89)
	label-Verified = -1..+1 group user/Verban Adrian (vadrian89)
	rebase = group user/Verban Adrian (vadrian89)
	removeReviewer = group user/Verban Adrian (vadrian89)
	submit = group user/Verban Adrian (vadrian89)
[access "refs/heads/*"]
	read = group user/Verban Adrian (vadrian89)
	create = group user/Verban Adrian (vadrian89)
	push = +force group user/Verban Adrian (vadrian89)
	pushMerge = group user/Verban Adrian (vadrian89)
[access "refs/tags/*"]
	push = group user/Verban Adrian (vadrian89)
	push = +force group user/Verban Adrian (vadrian89)
